.main {
  position: relative;
  background-color: #ffffff;
}

.navbar-links:hover {
  text-decoration: none !important;
}

.container-wrap {
  padding-bottom: 3rem;
  min-height: calc(100vh - 116px);
}

.footer {
  background-color: rgb(35, 30, 40);
  color: white;
  width: 100%;
  padding: 16px;
}

.footer a,
.footer a:not([href]) {
  color: white;
}

.footer a:hover,
.footer a:not([href]):hover {
  color: rgb(253, 95, 7);
  text-decoration: none;
}
